body {
    font-size: medium;
    font-style: normal;
    background: scroll;
  }

header .contenedor .navbar-custom{
    justify-content: center;
    font-size: larger;
    padding: 10px;
    background-color: #F4DB81;
}

body .tabla{
    padding: 50px;
    align-items: center;
    justify-content: center;
}